<!--     *********    EVENTS     *********      -->
<div class="page-header page-header-small" style="background-image: url('./assets/img/login-image.jpg'); background-attachment: fixed;  ">
  <div class="filter filter-neutral"></div>
  <div class="content-center">
    <div class="container">
      <h1>
        <br /> Events</h1>
    </div>
    <h4 class="description">Christians at TAMU offers a variety of weekly events to help you run after Jesus!</h4>

  </div>
</div>

<div class="project-4 section section-light" id="events1">
  <div class="container">

    <div class="row">

      <div class="space-top"></div>
      <div class="row">
        <div class="col-md-5 ml-auto text-center" id="pic1">
          <div class="card" data-background="image" style="background-image: url('./assets/img/bible-06.jpg')">
          </div>
        </div>

        <div class="col-md-2 mr-auto text-center">
          <div class="card card-plain">
          </div>
        </div>

        <div class="col-md-5 mr-auto text-center">
          <div class="card card-plain">
            <div class="card-body" style="margin-top: 15px">
              <h2 class="card-category">Bible Studies</h2>
              <a href="#pablo">
                <h3 class="card-title">Do you want to read God's Word?</h3>
              </a>
              <br>
              <p class="card-description">Today, God speaks to His people through His word. If we want to hear God's speaking, we need to read the Bible!
                In our college years, we can also get the best Bible education. Christians at TAMU has bible studies throughout
                the week either in a big group or 1 on 1. We hope you will be able to join us this semester!</p>
              <br>
              <button style="color:maroon;" class="nav-link" [routerLink]="['/wednesday-bs']" type="button" class="btn btn-warning btn-round">Schedule</button>

            </div>

          </div>
        </div>
      </div>
      <br/>
      <hr />
      <br/>
      <div class="row">
        <div class="col-md-5 ml-auto text-center">
          <div class="card card-plain">
            <div class="card-body" style="margin-top: 15px;">
              <h2 class="card-category">Thursday Ministry Series</h2>
              <a href="#pablo">

              </a>
              <p class="card-description">Did you know that God can be enjoyed and experienced? We should not only know God objectively but also know
                Him in a subjective way in our every day lives. This ministry time is a time to dive deeper into the Word
                of God. 1 Timothy 2:4 says "[Our savior God] desires all men to be saved and to come to the full knowledge
                of the truth"
              </p>
              <br/>


              <button style="color:maroon;" class="nav-link" [routerLink]="['/biblestudyinfo']" type="button" class="btn btn-warning btn-round">Schedule</button>

            </div>

          </div>
        </div>
        <div class="col-md-2 mr-auto text-center">
          <div class="card card-plain">
          </div>
        </div>

        <div class="col-md-5 mr-auto text-center" id="pic1">
          <div class="card" data-background="image" style="background-image: url('./assets/img/IMG_0693.jpg')">

          </div>
        </div>
      </div>
      <br>
      <hr />
      <br>
      <div class="row">
        <div class="col-md-5 ml-auto text-center" id="pic1">
          <div class="card" data-background="image" style="background-image: url('./assets/img/IMG_0220.jpg')">
          </div>
        </div>
        <div class="col-md-2 mr-auto text-center">
          <div class="card card-plain">
          </div>
        </div>
        <div class="col-md-5 mr-auto text-center">
          <div class="card card-plain">
            <div class="card-body" style="margin-top: 15px">
              <h2 class="card-category">Home Groups</h2>
              <a href="#pablo">
                <h3 class="card-title">Get connecetd to a home away from home.</h3>
              </a>
              <p class="card-description">Families in the community open their homes throughout the week for dinner and fellowship.The intimacy, simplicity,
                and mutuality of a home, believe it or not, is the ideal venue for Christian gatherings. Meeting in homes
                is the Holy Spirit’s “invention” and the original pattern presented in the New Testament (Acts 2:46). </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>