<div class="page-header page-header-small" style="background-image: url('./assets/img/us.jpg'); background-attachment: fixed;">
  <div class="filter filter-neutral"></div>
  <div class="content-center">
      <div class="container">
          <h1>Who We Are</h1>

      </div>
  </div>
</div>


<!-- About Us-->
<div class="cd-section section-white" id="projects" style="position: relative;">
  <div class="project-4 section section-light">
      <div class="container">
          <div class="row">
          </div>
          <div class="row" style="margin-bottom:-15px">
              <div class="col-md-5 ml-auto mr-auto text-center">
                  <div class="card" data-background="image" style="background-image: url('./assets/img/IMG_0167.jpg');">
                  </div>
              </div>
              <div class="col-md-5 mr-auto text-center">
                  <div class="card card-plain">
                      <div class="card-body">
                          <h6 class="card-category"></h6>

                          <h3 class="card-title">
                              <br> We are Christians, desiring to let the Lord make His home in our heart, while we are in
                              college.
                          </h3>

                          <p class="card-description" style="font-weight: bold">"That Christ may make His home in your hearts through faith..." Ephesians 3:17a
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <br/>
          <hr />
          <br/>
          <div class="row" style="margin-bottom:-15px">
              <div class="col-md-5 ml-auto text-center">
                  <div class="card card-plain">
                      <div class="card-body">
                          <h6 class="card-category"></h6>

                          <h3 class="card-title">
                              <br> We want to pursue the Lord Jesus with others who love Him, that we may be prepared for every
                              good work.</h3>

                          <p class="card-description" style="font-weight: bold">"...pursue...with those who call on the Lord out of a pure heart" 2 Timothy 2:22</p>
                      </div>
                  </div>
              </div>

              <div class="col-md-5 mr-auto ml-auto text-center">
                  <div class="card" data-background="image" style="background-image: url('https://lh3.googleusercontent.com/xlH6Cf7cr6zjTZ_vEyr9D-804Am2JSi9DzbyyCETztqd8Ge8mDOhMAsfM2rlwqp_5J4MDnh61Mru40iDuY8IcDNStXzpSBy4SRFpsEN_W5fbA5uCSRMmQFRwts-sDKL_LhkRdr0buasw8FB_N8F_GUcjxm5xU996Bq4JFPbgtnt8M10FuxqDxBbfQQoYNDz6yCLu0vml66Bl8NQpREcXKi7WMMDXzI2ca3LBuVb8MRtK8T6NesqgmOabVFLOWzBUWEdG62xte9tNAUhDbsMD7nXmMTkQUwYzpvtEe8zz0pdULz4reKM3q9F0mvTASI6IFWa8YWBgSRDpdjOcxlfaZx3WwR57c-_gArraZXaNveJna9IJL-oxXftspHe9KhGxpmwU_fRPHTXQLHxqBxlWdd0dsDw50wOaIokYgzPRpr7-_KKH25d0oJEsckujLJ6ZzJ2LdInZntncRThq8UnxR4mRB1HtHq4UkeWYXtNO_UAiAY3Wd9fNl_KrATktfcBkI_Q0BA2JFvlmRreWtaRDAE55z0fxYFGjeyYz_U3HlezY3VjYgd1M-yI0_bqrVXUJvp1egVi5nNRgpdRdT17uRPc0BqD0L63HBblM4hphmNIm1ipPBIr7ngtKNIsFXydQcL7Oc6eDdLHBaNvF0A3LAxIXLsVcX80=w607-h541-no')">
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>


<div class="cd-section section-gray" id="faith">
  <div class="blog-3">
    <div class="container">
      <div class="row">
        <div class="col-md-10 ml-auto mr-auto">
            <div class="card card-plain card-blog" style="text-align:center">
              <h1>Our Faith</h1>
            </div>
          <div class="card card-plain card-blog">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center">
                    The Bible is the complete divine revelation inspired word-by-word by God through the Holy Spirit.
                  </h4>  
                </div>
              </div>
              
              <div class="col-md-12" style="text-align: center">  
                <h5>
                <span style="color: gray">"All scripture is God
                  <span style="font-weight: 600; color:maroon;">breathed</span>..." 2 Timothy 3:16</span>
                </h5>
              </div>
            </div>
          </div>
          <hr>

          <div class="card card-plain card-blog">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center">
                    God is uniquely one, yet Triune, the Father, the Son, and the Spirit.
                  </h4>
                </div>
              </div>
              <div class="col-md-12" style="text-align: center">
                <h5>
                <span style="color: gray">"For there is
                  <span style="font-weight:900; color:maroon;">one</span> God..." 1 Timothy 2:5</span>
                </h5>
              </div>
            </div>
          </div>
          <hr>


          <div class="card card-plain card-blog">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <h6 class="card-category text-info"></h6>
                  <h4 class="card-title" style="text-align: center">
                    The Son of God, even God Himself, was incarnated to be a man by the name of Jesus Christ.
                  </h4>

                </div>
              </div>

              <div class="col-md-12" style="text-align: center">
                <h5>
                <span style="color: gray">"...the
                  <span style="color:maroon; font-weight: 600;">Word</span> was God." John 1:1 </span>
                </h5>
              </div>
            </div>
          </div>
          <hr>


          <div class="card card-plain card-blog">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center">
                    Christ died on the cross for our sins, shedding His blood for our redemption.
                  </h4>


                </div>
              </div>
              <div class="col-md-12" style="text-align: center">
                <div class="card-image">
                  <h5>
                  <span style="color: gray">"In Him we have
                    <span style="font-weight: 600; color:maroon;">redemption</span> through His blood..." <br> Ephesians 1:7</span>
                  </h5>
                  </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="card card-plain card-blog">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center">
                    Christ resurrected from among the dead on the third day.
                  </h4>
                </div>
              </div>

              <div class="col-md-12" style="text-align: center">
                <div class="card-image">
                  <h5>
                  <span style="color: gray">"...He was
                    <span style="font-weight: 600; color:maroon;">raised</span> on the third day..." 1 Corinthians 15:4 </span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="card card-plain card-blog">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center">
                    Christ ascended to the right hand of God to be Lord of all.
                  </h4>
                </div>
              </div>
              <div class="col-md-12" style="text-align: center">
                <div class="card-image">
                  <h5>
                  <span style="color: gray">"...
                    <span style="font-weight: 900; color:maroon;">Exalted</span> at the right hand of God..." Acts 2:33 </span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="card card-plain card-blog">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <h4 class="card-title" style="text-align: center">
                    Whenever any person repents to God and believes in the Lord Jesus Christ, he is born again
                  </h4>
                </div>
              </div>
              
              <div class="col-md-12" style="text-align: center">
                <div class="card-image">
                  <h5>
                  <span style="color: gray">"...He who
                    <span style="font-weight: 600; color:maroon;">believes</span>...shall be saved..." Mark 16:16 </span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="card card-plain card-blog">
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <h6 class="card-category text-danger">
                  </h6>
                  <h4 class="card-title" style="text-align: center">
                    Christ is coming again to receive His believers to Himself.
                  </h4>


                </div>
              </div>
              <div class="col-md-12" style="text-align: center">
                <div class="card-image">
                  <h5>
                  <span style="color: gray">"...
                    <span style="font-weight: 600; color:maroon;">Come</span> Lord Jesus!" Revelation 22:20 </span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
