<!--- -->
<div class="page-header page-header-small" style="background-image: url('./assets/img/login-image.jpg'); background-attachment: fixed; height: 381.55px">
    <div class="filter filter-dark"></div>
    <div class="content-center">
      <div class="container">
        <h1> Events</h1>
      </div>
      <h4 class="description">Christians at TAMU offers a variety of weekly events to help you run after Jesus!</h4>
  
    </div>
  </div>
  
  <div class="project-4 section section-light">
      <div class="container">
        <!--Bible Studies-->
          <div class="row" style="margin-top: -33px;">
              <div class="col-md-5 ml-auto">
                  <div id="pic1" class="card" data-background="image" style="background-image: url('./assets/img/bible-06.jpg')">
                  </div>
              </div>
  
              <div class="col-md-5 mr-auto ml-auto text-center">
                  <div class="card card-plain">
                      <div class="card-body">
                          <h2 class="card-category" style="margin-top:-10px">Bible Studies</h2>
                          <h3 class="card-title">Do you want to read God's Word?</h3>
                          <p class="card-description">
                            Today, God speaks to His people through His word. If we want to hear God's speaking, we need to read the Bible!
                            In our college years, we can also get the best Bible education. Christians at TAMU has bible studies throughout
                            the week either in a big group or 1 on 1. We hope you will be able to join us this semester!
                          </p>
                          <br/>
                          <button style="color:maroon;" class="nav-link" [routerLink]="['/wednesday-bs']" type="button" class="btn btn-warning btn-round">Schedule</button>
                      </div>
                  </div>
              </div>
          </div>
          <hr /><br/>
  
        <!--Thursday Ministry-->
          <div class="row" style="margin-top: -33px;">
              <div class="col-md-5 ml-auto text-center">
                  <div class="card card-plain">
                      <div class="card-body">
                          <h2 class="card-category" style="margin-top:-10px">Thursday Night Ministry</h2>
                          <h3 class="card-title">That your joy would be made full!</h3>
                          <p class="card-description">
                            Did you know that God can be enjoyed and experienced? We should not only know God objectively but also know
                            Him in a subjective way in our every day lives. This ministry time is a time to dive deeper into the Word
                            of God. 1 Timothy 2:4 says "[Our savior God] desires all men to be saved and to come to the full knowledge
                            of the truth"
                          </p>
                          <br/>
                        <button style="color:maroon;" class="nav-link" [routerLink]="['/biblestudyinfo']" type="button" class="btn btn-warning btn-round">Schedule</button>
                      </div>
                  </div>
              </div>
  
              <div class="col-md-5 mr-auto ml-auto">
                  <div id="pic1" class="card" data-background="image" style="margin-top:2.5em; background-image: url('./assets/img/IMG_0693.jpg')">
                  </div>
              </div>
          </div>
          <hr /><br/>
  
        <!--Home Meetings-->
          <div class="row">
            <div class="col-md-5 ml-auto">
                <div id="pic1" class="card" data-background="image" style="background-image: url('./assets/img/IMG_0220.jpg')">
                </div>
            </div>
  
            <div class="col-md-5 mr-auto ml-auto text-center">
                <div class="card card-plain">
                    <div class="card-body">
                        <h2 class="card-category" style="margin-top:-5px">Home Groups</h2>
                        <h3 class="card-title">Get connected to a home away from home.</h3>
                        <p class="card-description">
                          Families in the community open their homes throughout the week for dinner and fellowship.The intimacy, simplicity,
                          and mutuality of a home, believe it or not, is the ideal venue for Christian gatherings. Meeting in homes
                          is the Holy Spirit’s “invention” and the original pattern presented in the New Testament (Acts 2:46). 
                        </p>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
  